$accent-color: rgb(210, 32, 32);

$body-width: 1400px;

$font-family-inter: Inter;
$font-style-normal: normal;
$font-weight-normal: normal;
$font-weight-bold: bold;
$font-size-20: 20px;
$font-size-30: 30px;
$font-size-45: 45px;
$character-spacing-0: 0px;
$line-spacing-24: 24px;
$line-spacing-36: 36px;
$line-spacing-55: 55px;

//breakpoints
$br-sm: 576px;
$br-md: 768px;
$br-lg: 992px;
$br-xl: 1200px;
$br-xxl: 1400px;
