.ball {
  display: inline-block;

  width: 15px;
  height: 15px;
  min-width: 15px;
  min-height: 15px;
  border-radius: 50%;
  background-color: #54f8cc;
  box-shadow: 0px 1px 30px rgba(#54f8cc, 0.8);
  &--pending {
    background-color: #ffe200;
    box-shadow: 0px 1px 30px rgba(#ffe200, 0.8);
  }
  &--error {
    background-color: #c55b2a;
    box-shadow: 0px 1px 30px rgba(#c55b2a, 0.8);
  }
}
