@use '../../styles/styles.scss' as *;

.percentage-card {
  color: rgba($accent-color, 0.7);
  display: grid;

  &__text {
    color: white;
    font-weight: bold;

    & > *:first-child {
      margin-top: 0;
    }

    .text--regular {
      font-weight: normal;
    }
  }

  &__bar {
    justify-self: center;
    align-self: center;
  }
}
